<div class="container">

  <h1>Angular Calendar App!</h1>
  <div class="row">
    <div class="col-xs-12 col-12 col-md-4 form-group">
      <input
      placeholder="Select date"
      class="form-control"
      bsDatepicker
      [minDate]="minDate"
      [maxDate]="maxDate"
      [bsConfig]="{ isAnimated: true }">
    </div>

    <div class="col-xs-12 col-12 col-md-4 form-group">
      <input
      placeholder="Select period of time"
      class="form-control"
      bsDaterangepicker
      [minDate]="minDate"
      [maxDate]="maxDate"
      [bsConfig]="{ isAnimated: true }">
    </div>
  </div>
</div>
